---
import Title from "../../components/Title.astro"
import Layout from "../../layouts/Layout.astro"
import { getAllPokemons } from "../../utils/getAllPokemons"

const pokemons = await getAllPokemons()
---

<Layout title="All Pokemons">
  <Title>All Pokemons</Title>
  <ul>
    {
      pokemons.map(pokemon => (
        <li>
          <a href={`/pokemons/${pokemon.name}`}>{pokemon.name}</a>
        </li>
      ))
    }
  </ul>
</Layout>
