---
const links = [
  {
    name: "Home",
    path: "/"
  },
  {
    name: "Pokemons",
    path: "/pokemons"
  },
  {
    name: "Markdown",
    path: "/markdown"
  }
]
---

<nav>
  <ul class="nav">
    {
      links.map(link => (
        <li>
          <a href={link.path}>{link.name}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .nav {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.125rem;
  }
</style>
